.header{
    width: 100%;
    height: 90px;
    background-color: darkgray;
    display: inline-block;
}

.logo{
    width: 180px;
    height: 65px;
    background-color: darksalmon;
    display: inline-block;
    margin: 13px;
}

.menu{
    width: 600px;
    height: 65px;
    background-color: darksalmon;
    display: inline-block;
    margin: 13px;
    float: right;
}

.banner{
    width: 100%;
    height: 400px;
    background-color: deeppink;

}

.heading-about{
    width: 100%;
    height: 80px;
    background-color: darkgrey;
    display: inline-block;

}

.heading{
    width:400px ;
    height: 60px;
    background-color: darkorange;
    margin: 11px auto ;
    
}

.about-section{
    width: 100%;
    height: 450px;
    background-color: red;
    display: inline-block;

}

.img-about{
    width:300px ;
    height: 300px;
    background-color:burlywood;
    display: inline-block;
    margin:75px;
}

.description-about{
    width: 550px;
    height: 300px;
    background-color: whitesmoke;
    display: inline-block;
    float: right;
    margin-right: 75px;
    margin-top: 75px;

}

.heading-about-2{
    width: 100%;
    height: 80px;
    background-color: darkgrey;
    display: inline-block;

}

.heading-2{
    width:400px ;
    height: 60px;
    background-color: rgb(223, 22, 89);
    margin: 11px auto ;
    
}

.img-section{
    width: 100%;
    height: 450px;
    background-color: red;
    display: inline-block;

}

.img-2{
    width:550px ;
    height: 300px;
    background-color:burlywood;
    display: inline-block;
    margin: 75px 345px;

}

.footer{
    width: 100%;
    height: 150px;
    background-color: rgb(39, 27, 27);
    display: inline-block;

}

.information{
    width:600px ;
    height: 100px;
    background-color: rgb(245, 243, 243);
    margin: 24px auto ;
    
}